<?xml version="1.0" encoding="UTF-8"?>

<phpunit
	colors="true"
	verbose="true"
	bootstrap="vendor/autoload.php"
>

	<php>
		<ini name="intl.error_level" value="0"/>
		<ini name="memory_limit" value="-1"/>
	</php>

	<listeners>
		<listener class="PHPUnit\Runner\CleverAndSmart\TestListener">
			<arguments>
				<object class="PHPUnit\Runner\CleverAndSmart\Storage\Sqlite3Storage">
					<arguments>
						<string>./phpunit-cas.db</string>
					</arguments>
				</object>
			</arguments>
		</listener>
		<listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
	</listeners>

	<testsuites>
		<testsuite name="default">
			<directory>./tests</directory>
		</testsuite>
	</testsuites>

</phpunit>
